

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans&family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Macondo&family=Noto+Sans&family=Open+Sans:ital,wght@0,400;1,300&family=Raleway:ital,wght@1,200&family=VT323&display=swap');


:root {
  --font-family: 'Lato', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #75BFFB 1.84%, #FDBE59 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #75BFFB -13.86%, #FDBE59 99.55%);

  --color-bg: #1F1F1F;
  --color-footer: #0F0F0F;
  --color-blog: #0A4C0C;
  --color-text: #B0D2FF;
  --color-subtext: #FFC47A;
} 